body {
	height: 100%;
}

#loginButton,
#logoutButton {
	float: right;
}

#homeButton {

}

.gameboard {
	position: relative;
	height: 100%;
}

#nav-view {
	padding-top: 15px;
}

#nav-tileTemplate {
	padding-top: 15px;
}

tile {
	overflow: hidden;
	position: absolute;
	background-color: #FFF;
	width: 74px;
	height: 91px;
	border-radius: 4px;
}

tile:hover {
	margin-left: -3px;
	margin-top: -3px;
}

tile.selected {
	border: 3px solid red;
}

match {
	overflow: hidden;
	background-color: #FFF;
	width: 74px;
	height: 91px;
	border-radius: 4px;
	display: block;
  	float: left;
}