$selected: red;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
	height: 100%;
}

a {
	cursor: pointer;
}

#loginButton,
#logoutButton {
	float: right;
}

.float {
	float: left;
	margin-right: 5px;
}

#addGamesButton, #boardMessage{
	float: right;
}

.navbar{
	padding-top: 5px;

	.container{
		padding: 0px;
	}
}

#nextPage, 
#checkbutton, 
#username {
	float: right;
}

#prevPage {
	float: left;
}

.gameboard {
	position: relative;
	height: 100%;
}

#nav-tileTemplate, #boardMessage {
	padding-top: 15px;
}

tile {
	overflow: hidden;
	position: absolute;
	background-color: #FFF;
	width: 74px;
	height: 91px;
	@include border-radius(4px);

	&:hover {
		margin-left: -3px;
		margin-top: -3px;
	}

	&.selected {
		border: 3px solid $selected;
	}
}

match {
	overflow: hidden;
	background-color: #FFF;
	width: 74px;
	height: 91px;
	@include border-radius(4px);
	display: block;
  	float: left;
}