body {
	height: 100%;
}

#leftcolumn,
#rightcolumn {
}

.gameboard {
	position: relative;
	height: 100%;
}

tile {
	overflow: hidden;
	position: absolute;
	background-color: #FFF;
	width: 72px;
	height: 92px;
	border-radius: 10px;
}

tile:hover {
	margin-left: -3px;
	margin-top: -3px;
}

tile:focus {
	background-color: yellow;
}

match {
	overflow: hidden;
	background-color: #FFF;
	width: 72px;
	height: 92px;
	border-radius: 10px;
	display: block;
  	float: left;
}