<div class="row" ng-controller="GameController as gameCtrl">
	<button id="addGamesButton" ng-show="gameCtrl.isLogged()" ng-click="gameCtrl.toggleModal()" type="button" class="btn btn-success">Game aanmaken</button>
	<button id="yourGamesButton" ng-show="gameCtrl.isLogged()" ng-click="gameCtrl.toggleOnlyJoinedGames()" type="button" class="float btn btn-primary">Alleen jouw games</button>

	<form  class="float form-inline" role="form">
		<div class="form-group" >
			<label for="stateselect">State</label>
			<select id="stateselect" class="form-control" ng-model="gameCtrl.state" ng-change="gameCtrl.refreshGames()">
			  	<option value="">alle</option>
			  	<option value="open">open</option>
			  	<option value="playing">playing</option>
			  	<option value="finished">finished</option>
			</select>
		</div>
	</form>

 	<div class="col-md-12 well">
		<table class="table simple">
			<thead>
				<tr>
					<th>Eigenaar</th>
					<th>Spelers</th>
					<th>Game template</th>
					<th>State</th>
					<th>Acties</th>
				</tr>
			</thead>
			<tbody>
				<tr game ng-repeat="game in gameCtrl.games"></tr>
			</tbody>
		</table>
		<button id="prevPage" ng-click="gameCtrl.prevPage()" ng-if="gameCtrl.pageIndex > 0" type="button" class="btn btn-default">Vorige pagina</button>
		<button id="nextPage" ng-click="gameCtrl.nextPage()" ng-if="gameCtrl.games.length == gameCtrl.pageSize"type="button" class="btn btn-default">Volgende pagina</button>
	</div>

	<modal title="Game form" visible="gameCtrl.showModal">
	    <gameform></gameform>
    </modal>
</div>


