<div class="row" ng-controller="GameController as gameCtrl">
	<button id="addGamesButton" ng-click="gameCtrl.toggleModal()" type="button" class="btn btn-success">Game aanmaken</button>
	<button id="yourGamesButton" ng-click="gameCtrl.toggleOnlyJoinedGames()" type="button" class="float btn btn-primary">Alleen jouw games</button>

	<form  class="float form-inline" role="form">
		<div class="form-group" >
			<label for="stateselect">State</label>
			<select id="stateselect" class="form-control" ng-model="gameCtrl.state" ng-change="gameCtrl.refreshGames()">
			  	<option value="">alle</option>
			  	<option value="open">open</option>
			  	<option value="playing">playing</option>
			  	<option value="finished">finished</option>
			</select>
		</div>
	</form>

 	<div class="col-md-12 well">
		<table class="table simple">
			<thead>
				<tr>
					<th>Eigenaar</th>
					<th>Spelers</th>
					<th>Game template</th>
					<th>State</th>
					<th>Acties</th>
				</tr>
			</thead>
			<tbody>
				<tr game ng-repeat="game in gameCtrl.games"></tr>
			</tbody>
		</table>
		<button id="prevPage" ng-click="gameCtrl.prevPage()" ng-if="gameCtrl.pageIndex > 0" type="button" class="btn btn-default">Vorige pagina</button>
		<button id="nextPage" ng-click="gameCtrl.nextPage()" ng-if="gameCtrl.games.length == gameCtrl.pageSize"type="button" class="btn btn-default">Volgende pagina</button>
	</div>

	<modal title="Game form" visible="gameCtrl.showModal">
	    <form name="addGame" role="form">
	      <div class="form-group">
	        <label>Game template</label>
	        <select name="template" class="form-control" ng-model="newGame.template" required>
			  <option ng-repeat="template in gameCtrl.templates" value="{{template._id}}">{{template._id}}</option>
			</select>
	      </div>
	      <div class="form-group">
	        <label>Minimaal aantal spelers</label>
	        <select name="min" class="form-control" ng-model="newGame.min" required>
			  <option value="1">1</option>
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			  <option value="6">6</option>
			</select>
	      </div>
	      <div class="form-group">
	        <label>Maximaal aantal spelers</label>
	        <select name="max" class="form-control" ng-model="newGame.max" required>
			  <option value="1">1</option>
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			  <option value="6">6</option>
			  <option value="7">7</option>
			  <option value="8">8</option>
			  <option value="9">9</option>
			  <option value="10">10</option>
			</select>
	      </div>

	      <button ng-disabled="addGame.max.$invalid || addGame.min.$invalid || addGame.template.$invalid " type="submit" class="btn btn-default" ng-click="gameCtrl.addGame(newGame)">Maak aan</button>
	    </form>
    </modal>
</div>


