<td>{{ game.createdBy.name }}</td>
<td>
	<ul id="playerlist">
		<li ng-repeat="player in gameCtrl.getPlayers(game)">{{ player.name }}</li>
	</ul>
</td>
<td>{{ game.gameTemplate.id }}</td>
<td>{{ game.state }}</td>
<td>
	<span ng-if="gameCtrl.showJoinButton(game)"><a class="btn btn-default" ng-click="gameCtrl.joinGame(game)">Deelnemen</a></span>
	<span ng-if="gameCtrl.showStartButton(game)"><a class="btn btn-default" ng-click="gameCtrl.startGame(game)">Start game</a></span>
	<span ng-if="gameCtrl.isState(game, 'playing')"><a class="btn btn-default" href="#/games/{{ game.id }}" >{{ gameCtrl.doesGameContainUser(game) ? 'Spelen' : 'Bekijken'}}</a><span>
	<span ng-if="gameCtrl.isState(game, 'finished')"><a class="btn btn-default" href="#/games/{{ game.id }}" >Bekijken</a><span>
</td>
