<html lang="en" ng-app="mahjong">
 <head>
   
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
   <!-- The css is copied into dist/css/app.css by the copy task -->
   <link rel="stylesheet" href="css/app.css"/>
   <title>Mahjong</title>
 </head>
 <body ng-controller="GameController as gameCtrl">

	<div class="container-fluid">
	 	<div class="row">
		 	<div class="col-md-4 well">
				<p ng-repeat="game in games">
					<span>GameId: {{ game.id }}</span></br>
					<span>Total players: {{ game.players.length }}</span></br>
					<a href="#" ng-click="joinGame(game)">Join</a> | <a href="#" ng-click="openGame(game)">Open</a>
				</p>

				<div>
				  <form name="createForm" ng-submit="addGame()">
					<label>Create game</label>
					<input type="text" ng-model="newGame"/>
					<input type="submit" value="add"/>
				  </form>
				</div>
			</div>
			<div class="col-md-4 well">
				<span ng-show="currentGamePlayers.length > 0">Players:</span>
				<p ng-repeat="player in currentGamePlayers">
					<span>{{ player }}</span></br>
				</p>
			</div>
			<div class="col-md-4 well"></div>
		</div><!-- .row -->
		<div class="row">
			<div class="col-md-12 well">
				<div class="gameboard">
					<tile ng-repeat="tile in tiles" ng-click="selectTile(tile)"></tile>
				</div>
			</div>
		</div>
	</div><!-- .container -->
   <script type="text/javascript" src="app.js"></script>
 </body>
</html>